/* Mediaquery Css for Mobile Screens Start */
@media only screen and (min-width:0px) and (max-width:560px){
    

    #overlay{
        width: 50%;;
        height: 35%;;
        top: 50%px;;
        left: 50%;;
        border:5px solid cyan;
    }
    .red-text{
        font-size: 22px;;
    }
    nav .auto-container{
        flex-direction: column;
    }
    nav{
        position: fixed;
        top: 0;;
    }
    .row1{
        flex-direction: column;
        padding: 0px 10px;;
    }
    .banner{
        height: 275px;;
        margin-bottom: 30px;;
    }
    .row1 textarea{
        margin-bottom: 0px;;
        width:300px;
    }
    .row1 .inputrow{
        flex-direction: column;
        flex-basis: 100%;;
    }
    nav ul{
        display: none;
    }
    .row1 .rightside{
        flex-direction: column;
        margin-top: 20px;;
    }
    .row1 .rightside .red-text{
        font-size:20px;;
    }
    .indexrow2{
        flex-direction: column;
    }
    .indexrow2 h3{
        font-size: 25px;;
    }
    .indexrow2 .rightcol{
        text-align: center;
        padding: 0px 10px;
    }
    .indexrow2 img{
        padding: 10px;;
        margin-bottom: 10px;;
    }
    .indexrow2 .btn{
        flex-direction:row;
        justify-content: center;
        align-content: center;
    }
    .row3{
        flex-direction: column;
        text-align: center;
    }
    .row3 ul{
        justify-content: center;
    }
    .row3 ul li{
        font-size: 13px;;
    }
    .row3 p{
        padding: 10px;;
    }
    .row3 .rightside{
        margin-top: 15px;;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .row3 img{
        padding: 10px;;
    }
    .row3 .red-text{
        font-size: 25px;;
    }
    .row3 .rightside-cols::after{
        font-size: 20px;;
    }
    .row4{
        text-align: center;
        padding-top: 0px;;
    }
    .row4 h3{
        font-size: 22px;;
    }
    .row4 h1{
        font-size: 35px;;
        padding: 10px 0px;;
    }
    .row4 h4{
        font-size: 20px;;
    }
    .row5 .auto-container{
        padding: 15px 8px;;
    }
    .row5 .service-row{
        flex-direction: column;
        margin-bottom: 0px;;
        padding: 20px 0px;;
    }
    .row5 h2{
        font-size: 30px;;
    }
    .row5 .service-cols{
        /* margin: 7px;; */
    }
    .row5 h5{
        font-size: 20px;;
    }
    .branch-list .auto-container{
        flex-direction: column;
        margin-bottom: 10px;;
        padding: 0px 10px;;
    }
    .branch-list .cols:nth-child(2) a{
        font-size: 12px;;
    }
    footer{
        padding: 0px 0px;;
    }
    footer .cols{
        margin: 10px 0px;;
    }
    footer h3{
        font-size: 18px;;
    }
    footer .auto-container{
        flex-direction: column;
        padding: 20px;;
    }
    footer .footnote{
        margin-top: 0px;;
        font-size: 14px;;
        padding: 10px;;
    }
    
    .network-banner{
        max-width: 100%;;
        background-color: white;;
        height: auto;
        background-blend-mode: overlay;
    }
    .network-banner h3{
        font-size: 30px!important;
    }
    .network-banner .auto-container{
        flex-direction: column;
        padding: 10px 10px;;
    }
    .network-banner h4{
        font-size: 20px;;
    }
    .network-banner .form-inputs{
        flex-direction: column;
    }
    .network-banner textarea{
        width: 100%;;
    }
    .network-banner .right-form{
        margin-top: 15px;;
        background-color: rgba(255,255,255,.5);;
        box-shadow: 0px 0px 10px 2px snow;;
    }
    .network-banner .left-info{
        margin-top: 100px;;
    }
    .mini-nav{
        padding: 20px 0px;;
    }
    .mini-nav ul{
        flex-direction: column;
        padding: 0px 10px;;
    }
    .mini-nav a{
        text-decoration: none;
        color: #03a4ed;
        margin: 0px 10px;;
    }

    .network-areas{
        padding: 20px 0px;;
        padding-bottom: 0px;;
    }
    
.network-areas .auto-container{
    flex-direction: column;
    flex-wrap:wrap;
    margin-bottom: 0px;;
}
.network-areas .area-cols{
    margin: 10px;;
}
.network-areas h4{
    background-color:rgba(210,210,210,.5);
    padding:13px;;
}
.network-areas p{
    padding: 15px 15px 25px 15px;;
    font-size: 17px;;
}

.aboutpage .team-row{
    padding:0px
}
.aboutpage .team-row .client-row{
    flex-direction: column;
    margin: 0px;;
    padding: 15px;;
}
.aboutpage-row1{
    padding: 20px 0px;;
}
.aboutpage-row1 .auto-container{
    flex-direction: column;
    padding: 15px;;
}
.aboutpage .mission-row p{
    font-size: 20px;;
    padding: 0px 20px;
}
.aboutpage .mission-row h3{
    font-size: 25px;;
    margin-right: 0px;;
}
.gallery-main{
    padding-top: 25px;;
    padding-bottom: 0px;;
}
.gallery-main .auto-container{
    flex-direction: column;
    margin:0px 10px;
}

.gallery-main .lastimg-div{
    display: none;
}
.contact-main{
    padding:40px 0px;;
}
.contact-main .row1{
    flex-direction:column;
}
.contact-main h4{
    font-size: 14px;;
}
.contact-main i{
    font-size: 14px;;
}
.contact-main a{
    text-decoration: none;
    color: dimgray;
    margin-left: 5px;;
}
.contact-main .web-box h4{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;;
}
.contact-main .web-box h4:last-child{
    border:none;
}
.enquiry-main{
    padding: 20px 0px 0px 0px;;
}
.enquiry-main .upperform{
    flex-direction: column;
    margin:10px;
}
.enquiry-main .lowerform{
    flex-direction: column;
    margin: 0px 10px;;
}
    
    
}
/* Mediaquery Css for Mobile Screens End */

/* Mediaquery Css for Tablet Screens Start */
@media only screen and (min-width:561px) and (max-width:768px){
    
    .banner{
        height: 250px;;
        margin-bottom: 30px;;
    }
    nav .logo img{
        height: 32px;;
    }
    nav .auto-container{
        width: 100%;;
    }
    .row1{
        flex-direction: row;
        padding: 0px 10px;;
    }
    .row1 textarea{
        width:150px;
    }
    .row1 .inputrow{
        flex-direction: row;
    }
    nav ul li a{
        font-size: 13px;;
        padding: 5px;;
    }
    .row2{
        padding: 10px;;
    }
    .row2 .leftcol img{
        width: 100%;;
        height:400px;
    }
    .row3{
        padding: 20px;;
    }
    .row3 .red-text{
        font-size: 25px;;
    }
    .row3 ul li{
        font-size: 13px;;
    }
    .row3 .rightside-cols::after{
        font-size: 15px;;
    }
    .row4{
        text-align: center;
        padding-top: 30px;;
    }
    .row4 h3{
        font-size: 26px;;
    }
    .row4 h1{
        font-size: 45px;;
        padding: 10px 0px;;
    }
    .row4 h4{
        font-size: 25px;;
    }
    .row5 .service-cols{
        margin: 5px;;
        padding: 10px 0px;;
    }
    .row5 .auto-container{
        padding: 0px;;
    }
    .row5 h5{
        font-size: 18px;;
    }
    .row5 p{
        font-size: 13px;;
    }   
    .branch-list .auto-container{
        padding: 0px 10px;;
        margin-bottom: 5px;;
    }    
    footer{
        padding: 0px 0px;;
    }
    footer .cols{
        margin: 10px;
    }
    footer h3{
        font-size: 18px;;
    }
    footer ul li a,p{
        font-size: 14px;;
    }
    footer .auto-container{
        flex-direction:row;
        padding: 20px;;
    }
    footer .footnote{
        margin-top: 0px;;
        font-size: 14px;;
        padding: 10px;;
    }
    .network-banner{
        max-width: 100%;;
        background-color: white;;
        height: auto;
        background-blend-mode: overlay;
    }
    .network-banner h3{
        font-size: 30px!important;
    }
    .network-banner .auto-container{
        flex-direction:row;
        padding: 10px 10px;;
    }
    .network-banner h4{
        font-size: 20px;;
    }
    .network-banner .form-inputs{
        flex-direction:row;
    }
    .network-banner .input-cols:nth-child(2){
        width: 100px;;
    }
    .network-banner textarea{
        width: 204%;;
    }
    .network-banner .right-form{
        background-color: rgba(255,255,255,.5);;
        box-shadow: 0px 0px 10px 2px snow;;
    }
    .network-areas{
        padding: 20px 0px;
        padding-bottom: 0px;;
    }
    .network-areas .area-cols{
        margin: 10px;;
    }
    .aboutpage-row1,.mission-row,.team-row{
        padding: 15px;;
        margin: 10px;;
    }
    .gallery-main{
        padding-top: 20px;
        padding-bottom: 0px;;
    }
    .gallery-main .gallery-cols{
        padding: 5px;;
    }
    
.contact-main{
    padding:30px 0px;;
    margin: 10px;;
    padding-bottom: 0px;;
}
.contact-main .row1,.row2{
    flex-direction:row;;
    /* flex-wrap:nowrap; */
}
.contact-main .row2 h3{
    font-size: 20px;;
}
.contact-main h4{
    font-size: 10px;;
}
.contact-main .map-row{
    margin-top: 20px;;
}
.enquiry-main{
    padding: 0px;;
    padding-top: 20px;
}
.enquiry-main .upperform{
    flex-direction:row;
    margin:10px;
}
.enquiry-main .lowerform{
    flex-direction:row;
    margin: 0px 10px;;
}


    
    
}
/* Mediaquery Css for Tablet Screens End */

/* Mediaquery Css for Mini-Desktop Screens Start */
@media only screen and (min-width:769px) and (max-width:1024px){
    
    nav ul li a{
        font-size: 15px;;
    }
    .row1{
        flex-direction: row;
        padding: 0px 20px;;
    }
    .row2{
        padding: 0px 20px;;
    }
    .row1 textarea{
        width:150px;
    }
    .row3{
        padding:20px;;
    }
    .row1 .inputrow{
        flex-direction: row;
    }
    .row5 .service-cols{
        margin:5px;
    }
    .row5 .auto-container{
        padding: 5px 0px;;
    }
    .row5 .service-row{
        padding: 10px 0px;;
    }
    .row5 h5{
        font-size: 22px;;
    }
    .row5 p{
        font-size: 15px;;
    } 
    .branch-list .auto-container{
        padding: 0px 10px;;
        margin-bottom: 10px;;
    }
    footer .cols{
        margin: 5px 15px;
    }
    footer .footnote{
        margin-top: 60px;;
    }
    
    .network-banner .auto-container{
        flex-direction:row;
        padding: 10px 10px;;
    }
    .network-banner h4{
        font-size: 20px;;
    }
    .network-banner .form-inputs{
        flex-direction:row;
    }
    
    .network-banner .input-cols:nth-child(2){
        width: 100px;;
    }
    
.contact-main h4{
    font-size: 10px;;
}
}
/* Mediaquery Css for Mini-Desktop Screens End */